@import '../../assets/sass/abstract/variables';

#pagination-container {
  display: flex;
  justify-content: center;
}

#pagination {
  display: flex;
  color: #505050;
}

.pg {
  position: relative;
}

.pg__per-page {
  width: 4rem;
}

.pg__buttons .btn:nth-child(1),
.pg__buttons .btn:nth-child(7) {
  margin: 0 1rem;
}

.pg__button,
.pg__button--active {
  height: 36px;
  width: 55px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(221, 221, 221, 0.5);
  color: #000000;
  font-family: $font-primary;
}

.pg__button {
  background-color: #ffffff;
  color: #000000;
}

.pg__button--active {
  background-color: #3359db;
  color: #ffffff;
}

.pg__showing {
  height: 20px;
  width: 145px;
  color: #637381;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.pg__per-page__label {
  padding-right: 20px;
  padding-left: 10px;
  line-height: 30px;
}

.pg__per-page__select {
  padding-right: 20px;
  padding-left: 10px;
}
