.ops-dashboard__fellows-summary {
  padding-left: 4.166666666%;
  padding-right: 4.166666666%;
}

.ops-dashboard__filter {
  justify-content: center;
  margin-bottom: 28px;
  padding-right: 4.166666%;
}

.ops-dashboard__filter .contain {
  padding-left: 1%;
  padding-right: 0;
}

.ops-dashboard__fellow-summary-text {
  color: #0459e4;
  font-family: 'DIN Pro';
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.625rem;
  margin-top: 3.75rem;
}

.ops-dashboard__filter .number {
  padding: 0 2rem 1.375rem 0;
  width: 100%;
  margin: 0;
}

.ops-dashboard__filter .card {
  margin: 20px auto 0 auto;
}

.total-fellows-card {
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .ops-dashboard__filter {
    justify-content: left;
  }

  .ops-dashboard__filter .contain {
    padding-left: 4%;
    padding-right: 0;
  }
}

@media screen and (min-width: 729px) {
  .ops-dashboard__filter {
    justify-content: left;
  }

  .ops-dashboard .row {
    margin-left: 0;
  }

  .ops-dashboard__fellow-summary-text {
    text-align: left;
  }

  .ops-dashboard__filter .card {
    border: none;
    margin: 20px 20px 28px 0;
  }
}

.scroll-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.card-scroll-wrapper {
  display: inline-block;
}
