{
      "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
        "pretty-quick --staged",
        "eslint 'src/**' -c .eslintrc.json --fix",
        "prettier-stylelint --write 'src/**/*.{css,scss}' ",
        "react-scripts test --env=jsdom -b --forceExit --coverage",
        "git add"
      ]
  }
