#logout-modal .modal-content {
  height: 280px;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 12px;
  font-family: 'DIN Pro';
}

#logout-modal .modal-header .close span {
  font-size: 100% !important;
}

#logout-modal .modal-title {
  margin-top: 1.5em !important;
  margin-left: 1em;
  font-size: 130%;
  font-weight: bold !important;
}

#logout-modal .modal-body {
  margin-left: 1.5em;
}

#logout-modal .modal-title img {
  margin-right: 13px;
}

#logout-modal .modal-header,
#logout-modal .modal-footer {
  border: none;
  z-index: 100000000;
}

.modal-backdrop {
  display: none;
}

#logout-modal .modal-footer button:first-child {
  height: 39px;
  width: 90px;
  border: 1px solid #3359db;
  border-radius: 4px !important;
  background-color: #ffffff;
  color: #3359db;
}

#logout-modal .modal-footer button:last-child {
  background-color: #3359db;
  border-radius: 4px;
  color: white;
}
