.modal-content {
  height: 280px !important;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 12px;
}

.modal-header .close span {
  font-size: 190% !important;
}

.modal-title {
  margin-top: 1.5em !important;
  margin-left: 1em;
  font-size: 130%;
  font-weight: bold !important;
}

.modal-body {
  margin-left: 1.5em;
}

.modal-title img {
  margin-right: 13px;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-footer button:first-child {
  height: 39px;
  width: 90px;
  border: 1px solid #3359db;
  border-radius: 4px !important;
  background-color: #ffffff;
  color: #3359db;
}

.modal-footer button:last-child {
  background-color: #3359db;
  border-radius: 4px;
  color: white;
}
