.modal-content {
  height: 315px;
  width: 100%;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 12px;
}
.close span {
  font-size: 190% !important;
}
.modal-title {
  margin-top: 1.5em!important;
  margin-left: 1em;
  font-size: 130%;
  font-weight: bold!important;
}
.modal-title img {
  margin-right: 13px;
}
.modal-header, .modal-footer {
  border: none;
}
.modal-footer button:first-child {
  height: 39px;
	width: 90px;
	border: 1px solid #3359DB;
	border-radius: 2px;
  background-color: #FFFFFF;
  color: #3359DB;

}
.modal-footer button:last-child {
  background-color: #3359DB;
  color: white;
}
