.add-button {
  border-radius: 5px;
  background-color: #10a36d;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
  color: #ffffff;
  font-family: 'DIN Pro';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.58px;
  line-height: 18px;
  padding: 10px;
}
.add-button:hover {
  text-decoration: none;
}
