.ops-fellows {
  padding: 12vh 4% 2rem 4%;
}

.ops-fellows__filters {
  width: 100%;
  margin: 0;
}

.ops-fellows__count {
  font-family: 'DIN Pro Light', Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 400;
}

.download-button {
  right: 5.8%;
  position: absolute;
}

.download-button > div {
  padding-top: 21px;
}

.download-button .filter-dropdown__button {
  border: 1px solid blue;
  border-radius: 5px;
  margin-right: unset;
  width: 120px;
}

.download-button .filter-dropdown__list {
  right: 0;
  border-radius: 5px;
}

.download-button .filter-dropdown__list_items {
  border-radius: 5px;
}

.download-button .filter-dropdown__button > span:first-child {
  margin: auto;
  color: blue;
}

.download-button .filter-dropdown__button > span:last-child {
  display: none;
}
