.filters--dev {
  width: 90%;
  display: flex;
  margin: 12vh 3.75em 1em 3.75em;
}

.download-button {
  right: 5.8%;
  position: absolute;
}

.download-button > div {
  padding-top: 21px;
}

.download-button .filter_dropdown {
  border: 1px solid blue;
  border-radius: 5px;
  margin-right: unset;
  width: 120px;
}

.download-button .open {
  right: 0;
  border-radius: 5px;
}

.download-button .open .open__list_items {
  border-radius: 5px;
}

.download-button .filter_dropdown > span:first-child {
  margin: auto;
  color: blue;
}

.download-button .filter_dropdown > span:last-child {
  display: none;
}

.developer-filter .filter_dropdown {
  margin-right: 25px;
}
