@import '../../assets/sass/abstract/variables';

.ops-fellows {
  &__filters {
    width: 100%;
    margin: 0;
  }

  &__count {
    font-family: $font-primary-light;
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: 400;
  }

  .loader {
    margin-top: 10rem;
  }
}

.download-button {
  right: 5.8%;
  position: absolute;

  > div {
    padding-top: 21px;
  }

  .filter-dropdown {
    &__button {
      border: 1px solid blue;
      border-radius: 5px;
      margin-right: unset;
      width: 120px;

      > span:first-child {
        margin: auto;
        color: blue;
      }

      > span:last-child {
        display: none;
      }
    }

    &__list {
      right: 0;
      border-radius: 5px;
    }

    &__list_items {
      border-radius: 5px;
    }
  }
}
