.login-page {
  width: 100%;
  padding: 1rem;
  background-color: #1d66de !important;
  background-image: url(../../static/Landing-Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: 70% 0;
}
.toaster {
  background-color: #ffa550;
  color: white;
}

.login-page__logo {
  margin: 10% 0% 5% 8%;
}

.login-page__text-and {
  display: block;
}

.login-page__tagline {
  height: 88px;
  width: 400px;
  color: #ffffff;
  font-family: 'DIN Pro Light';
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 250% !important;
  line-height: 120%;
  margin: 5% 0% 10% 8% !important;
}

.login-page__btn {
  height: 50px;
  width: 224px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #3359db;
  font-family: 'DIN Pro';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.login-page__btn:hover {
  text-decoration: none;
}

.login-page__btn-logo {
  width: 50px;
  padding: 13px 13px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #415ad7;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.login-page__btn-text {
  width: 50px;
  color: #3359db;
  border-radius: 0 4px 4px 0;
  padding-left: 26px;
  padding-right: 26px;
}

@media screen and (max-width: 375px),
  screen and (min-height: 560px),
  screen and (max-height: 680px) {
  .login-page__tagline {
    font-size: 18px !important;
    line-height: 22px;
    text-align: center !important;
    margin: 0% auto 20% auto !important;
    max-width: 300px;
  }

  .login-page__header {
    padding-top: 0%;
    height: 10%;
    margin: 0% auto 0% auto;
    text-align: center;
  }
}

@media screen and (max-width: 414px), screen and (min-height: 800px) {
  .login-page {
    background-size: 700px 450px;
    background-position: 95% 100%;
  }

  .login-page__tagline {
    font-size: 18px !important;
    line-height: 22px;
    text-align: center !important;
    margin: 0% auto 20% auto !important;
    max-width: 300px;
  }

  .login-image {
    margin: 200px 0px 0px 100px;
    position: absolute;
    height: 300px !important;
    width: 330px;
  }

  .login-page__header {
    padding-top: 0%;
    height: 10%;
    margin: 0px auto 0px auto;
    text-align: center;
  }

  .login-page__btn {
    font-size: 0.825rem !important;
  }

  .login-page__btn-logo {
    width: 40px !important;
  }

  .login-page__btn-container {
    text-align: center;
    padding-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .login-page {
    background-size: 700px 450px;
  }

  .login-page__tagline {
    font-size: 18px !important;
    line-height: 22px;
    text-align: center !important;
    margin: 0px auto 250px auto !important;
    max-width: 300px;
  }

  .login-image {
    margin: 200px 0px 0px 100px;
    position: absolute;
    height: 300px !important;
    width: 330px;
  }

  .login-page__header {
    padding-top: 0px;
    height: 100px;
    margin: 0px auto 0px auto;
    text-align: center;
  }

  .login-page__btn-container {
    text-align: center;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1024px), (orientation: landscape) {
  .login-page {
    background-position: 95% 0;
    background-size: cover;
  }

  .login-page__logo {
    margin-bottom: 0.5rem;
    width: 20%;
  }

  .login-page__header {
    text-align: left;
    margin: 5% 0% 5% 0%;
  }

  .login-page__text-and {
    display: inline-block;
  }

  .login-page__tagline {
    color: #ffffff;
    font-family: 'DIN Pro Light';
    font-size: 220% !important;
    line-height: 120%;
    text-align: left !important;
    margin: 0% 0% 0% 8% !important;
  }

  .login-page__btn-container {
    text-align: left;
    padding-top: 5%;
    margin: 5% 0% 0% 8% !important;
  }
}
