.login-page {
  width: 100%;
  padding: 1rem;
  background-color: #1d66de;
  background-image: url(../../static/Landing-Image.png);
  background-size: 800px 450px;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: 90% 100%;
}

.toaster {
  background-color: #ffa550;
  color: white;
}

.login-page__logo {
  padding: 15% 5% 0 25%;
}

.login-page__tagline {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 10% 5%;
  color: #ffffff;
}

.login-page__btn-container {
  margin: 10% auto;
  margin-left: 15%;
}

.login-page__btn {
  border-radius: 8px;
  background-color: #ffffff;
  color: #3359db;
  font-family: 'DIN Pro';
  font-size: 1rem;
  line-height: 22px;
  padding: 4%;
  box-shadow: 0 5px 12px 0 rgba(83, 89, 98, 0.12);
  cursor: pointer;
}

.login-page__btn-logo {
  height: 15px;
  padding-right: 4%;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
}

.login-page__btn-text {
  padding-left: 1.5%;
  color: #000;
}

.login-page__btn:hover {
  text-decoration: none;
}

@media only screen and (min-width: 425px) {
  .login-page__btn-container {
    margin-left: 25%;
  }

  .login-page {
    background-position: 100% 100%;
  }
}

@media only screen and (min-width: 450px) {
  .page-info__container {
    width: 100%;
    margin: 9% 2%;
  }

  .login-page__tagline {
    font-size: 1.2rem;
    text-align: center;
    margin: 3% 5%;
  }
  .login-page__btn-container {
    width: 50%;
    margin: 15% auto;
  }

  .login-page__btn {
    padding: 4%;
  }
  .login-page__btn-logo {
    padding-right: unset;
  }
  .login-page__btn-text {
    padding-left: 1.5%;
  }
}

@media only screen and (min-width: 700px) {
  .page-info__container {
    width: 100%;
    margin: 9% -15%;
  }
  .login-page__tagline {
    font-size: 1.5rem;
  }
  .login-page__btn-container {
    margin: 10% auto;
  }
}

@media only screen and (min-width: 801px) {
  .login-page {
    background-size: 1000px 800px;
    background-position: 80% -120%;
  }

  .page-info__container {
    margin: 9% -22%;
  }
}

@media only screen and (min-width: 1000px) {
  .login-page {
    background-size: 1440px 826px;
    background-position: 100% -140%;
  }

  .page-info__container {
    width: 60%;
    margin: 10% -5%;
  }

  .login-page__tagline {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .login-page__btn-text {
    height: 41px;
    width: 160px;
    color: #000000d6;
    font-family: 'DIN Pro';
    font-size: 18px;
    line-height: 40px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .login-page__btn-logo {
    height: 21px;
    padding-left: 1.5%;
    margin-bottom: 0.5%;
  }
  .login-page__btn-container {
    margin-top: 5%;
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1400px) {
  .login-page__tagline {
    height: 158px;
    width: 507px;
    color: #ffffff;
    font-family: 'DIN Pro';
    font-size: 45px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 1.5px;
    margin-bottom: -3%;
  }

  .login-page__header {
    margin-top: -13%;
  }

  .page-info__container {
    width: 100%;
    margin-left: 10%;
  }
  .login-page__tagline {
    text-align: left;
  }
  .login-page__logo {
    padding-left: 5%;
    margin-bottom: 3%;
  }

  .login-page__btn {
    padding: 2%;
  }
  .login-page__btn-container {
    margin-left: 5%;
  }
}
