.dashboard-table__container {
  overflow-x: scroll;
  margin-bottom: 60px;
}

.dashboard-table {
  display: table;
  margin: 0 3.75em;
  width: 90%;
  font-family: 'DIN Pro Light';
  font-weight: 100;
  border: 0 none black;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0px 8px;
  overflow-x: scroll;
}

@media screen and (max-width: 868px) {
  .dashboard-table {
    width: 900px;
  }
}

@media screen and (min-width: 1800px) {
  .dashboard-table {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 2400px) {
  .contain {
    margin: 0 auto;
  }
  .inner-addon {
    margin-left: 10% !important;
  }
  .dashboard-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
