@import '../../assets/sass/abstract/variables';

.ops-vacancy-card {
  box-sizing: border-box;
  height: 182px;
  width: 221px;
  border: 1px solid rgba(221, 224, 228, 0.31);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  padding-left: 30px;
  position: relative;

  &---grey {
    @extend .ops-vacancy-card;
    background-color: rgba(221, 224, 228, 0.31);
    border: none;
  }

  &__role-name {
    height: 23px;
    width: 90%;
    color: #344c5a;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin-top: 1.7rem;
    margin-bottom: 0.2rem;
  }

  &__project-slot,
  &__project-start-date {
    &__label {
      margin-bottom: 1rem;
      color: #606060;
      font-size: 13px;
    }

    &__number {
      margin-bottom: 1rem;
      color: #0459e4;
      font-size: 13px;
    }
  }
  &__project-start-date__number {
    color: rgba(52, 76, 90, 0.62);
  }

  &__project,
  &__project-date-countdown {
    height: 36px;
    width: 85%;
    color: rgba(52, 76, 90, 0.62);
    font-family: $font-primary;
    font-size: 13px;
  }

  &__project-date-countdown {
    margin-top: 0.3rem;
    font-size: 15px;
    line-height: 18px;
  }

  &__applications {
    height: 18px;
    width: 100%;
    color: #0459e4;
    font-family: $font-primary;
    font-size: 15px;
    line-height: 18px;
    margin-top: 0.4rem;
  }

  &__icon {
    height: 11px;
    width: 3px;
    float: right;
    padding: 1rem 1.3rem 1rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
