@import '../../assets/sass/abstract/variables';

.fellow-bio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-bio {
  display: inline-block;
  height: 240px;
  width: 550px !important;
  border-radius: 4px;
  background-color: #ffffff;
  padding-top: 0px;
  width: 648px;
  position: relative;
}

.card-bio:focus {
  outline: 1px solid #0459e4 !important;
}
.card-bio:after {
  content: '';
  display: table;
  clear: both;
}

.card-bio .loader__center,
.card-project .loader__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-project {
  display: flex;
  display: inline-block;
  height: 240px;
  width: 100% !important;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
}
.card-project:focus {
  outline: 1px solid #0459e4 !important;
}
.rectangle {
  height: 30px;
  width: 4px;
  background-color: #ffaf30;
  margin: 27px 15px 30px 40px;
}

.my-bio {
  display: flex;
  height: 26px;
  width: 112px;
  color: #0459e4;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: bolder;
  line-height: 26px;
  margin-bottom: 25px;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0 2em 2em 0;
  width: 576px;
}

.my-project {
  height: 26px;
  width: 112px;
  color: #0459e4;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: bolder;
  line-height: 26px;
  min-width: 200px;
  margin-bottom: 25px;
}

.project {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 0 0 2em 0;
}

.title {
  height: 26px;
  width: 461.38px;
  color: #232f49;
  font-family: $font-primary;
  font-size: 20px;
  line-height: 26px;
  padding: 0px 0px 20px;
  margin: 16px;
}

.content {
  position: absolute;
  height: 26px;
  width: 461.38px;
  color: #232f49;
  font-family: $font-primary;
  font-size: 20px;
  line-height: 26px;
  margin: 29px 99.62px 182px 65px !important;
  word-spacing: 4px;
}

.spacing {
  margin: 0px 6px 0px 0px;
}
