/*
Variables
---------------------------------
This file is responsible for storing the global variables used.

*/

$font-primary: 'DIN Pro', Arial, Helvetica, sans-serif;
$font-primary-light: 'DIN Pro Light', Arial, Helvetica, sans-serif;
$color-danger: #ce1919;
