@import '../../assets/sass/abstract/variables';
@import '../../assets/sass/abstract/mixins';

.dasboardcard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;

  &__span {
    height: 20px;
    color: rgba(52, 76, 90, 0.43);
    font-family: $font-primary;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.53px;
    line-height: 20px;
  }

  &__info {
    height: 499px;
    width: 100%;
    max-width: 353px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    overflow: auto;

    @include respond(large-screen) {
      height: 499px;
      width: 100%;
      max-width: 420px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: #ffffff;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
      overflow: auto;
    }

    @include respond(very-large-screen) {
      height: 499px;
      width: 100%;
      max-width: 490px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: #ffffff;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
      overflow: auto;
    }
  }

  &__available-engineers {
    background-color: #ffffff;
    width: 100%;
    max-width: 353px;
    padding: 0px 0px 5px 20px;
    display: flex;
    justify-content: flex-start;
    line-height: 20px;

    @include respond(large-screen) {
      background-color: #ffffff;
      width: 100%;
      max-width: 420px;
      padding: 0px 0px 5px 20px;
      display: flex;
      justify-content: flex-start;
      line-height: 20px;
    }

    @include respond(very-large-screen) {
      background-color: #ffffff;
      width: 100%;
      max-width: 490px;
      padding: 0px 0px 5px 20px;
      display: flex;
      justify-content: flex-start;
      line-height: 20px;
    }
  }
}
