@import '../../assets/sass/abstract/variables';

.dasboardcard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 38px;
}

.dasboardcard-wrapper__span {
  height: 20px;
  color: rgba(52, 76, 90, 0.43);
  font-family: $font-primary;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.53px;
  line-height: 20px;
}

.dasboardcard-wrapper__info {
  height: 571px;
  width: 353px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  margin-top: 16px;
  overflow: auto;
}
