.stackClass {
  background-color: #ebeff3;
  padding: 0.3rem 1rem;
  font-size: 14px;
  margin-right: 0.8rem;
  border-radius: 0.2rem;
  color: #333e44;
  display: inline-block;
  margin: 0.2rem 0;
}
