.fellow-search {
  height: 32px;
  width: 380px;
  border: 1px solid #bcbcbc;
  opacity: 0.4;
  border-radius: 50px;
  background: url(../../static/Loupe.svg) no-repeat 95% 7px;
  padding-right: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* enable absolute positioning */
.inner-addon {
  margin-left: 60px;
}
.result-count {
  font-family: 'DIN Pro Light', Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
}

/* Mobile and Tablet screen */
@media screen and (max-width: 767px) {
  .fellow-search {
    width: 200px;
  }
}
