.header {
    font-family: 'DIN Pro Light';
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    padding: 0px;
    font-weight: lighter;
}

.menu-right {
    margin-left: 30%;
}

.logo {
    text-decoration: none;
    text-align: left;
    padding-left: 0;
    font-weight: 500;
}

.logo:hover {
    text-decoration: none;
}

.logo .watch-tower__logo {
    font-size: 24px;
    margin-right: 15px;
}

.watch-tower {
	height: 31px;
	width: 121px;
	color: #0459E4;
	font-size: 24px;
	letter-spacing: -1px;
    line-height: 31px;
    vertical-align: middle;
}

.fellow-search {
	height: 32px;
	width: 224px;
	border: 1px solid #BCBCBC;
	opacity: 0.4;
    border-radius: 50px;
    margin-right: 2%;
}

.user {
    display: inline-block;
    font-weight: 100;
}

.user__image {
	box-sizing: border-box;
	height: 34px;
	width: 34px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 9px;
    cursor: pointer;
}

.user__text {
	height: 23px;
	width: 101px;
	color: #838383;
	font-size: 18px;
    line-height: 23px;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
}

.header__dropdown {
    display: inline-block;
    font-size: 14px;
    color: #838383;
    margin-top: 8px;
    cursor: pointer;
}

/* Notification */
.notification {
    display: inline-block;
    margin: 0 33.5px;
    cursor: pointer;
}

.notification__icon {
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
}

.notification__icon::after {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notification__icon::after {
    position: absolute;
    border-radius: 50%;
    background: #3498db;
    content: "";
    opacity: 1;
    transform: scale(1);
    box-sizing: border-box;
    height: 11px;
    width: 11px;
    border: 1px solid #FFFFFF;
    background-color: #0459E4;
    right:-3px;
    top:1px;
}

.header__divider {
    box-sizing: border-box;
    height: 2px;
    border-color: #D4D4D4;
    margin: 0px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 5%;
}

.inner-addon .search__icon {
    position: absolute;
    padding: 8px;
    pointer-events: none;
    padding-right: 15px;
}

.right-addon .search__icon { 
    right: 0px;
    top: 0;
}

/* Header bottom */

.header--bottom {
    font-weight: 500;
    padding:22px 0px 0px 0px;
}

.header__menu {
    margin: auto;
    text-align: center;
}

/* NavLink */

.menulink {
    display: inline-block;
    margin-right: 50px;
}

.navicon {
    margin-right: 15px;
    display: inline-block;
}

.menulink .navlink {
    text-decoration: none;
    color: #BCBCBC;
    font-size: 18px;
    padding-bottom: 13px;
    cursor: pointer;
}

.menulink .navlink.active, .menulink .navlink:active {
    color: #0459E4;
    border-bottom: 3px solid;
    outline: 0;
}

/* Mobile and Tablet screen */
@media screen and (max-width: 767px){
    #nav > .navbar {
        padding: 0.5em 2em!important;
    }
    .search__open {
        height: 48px;
    }
    .search__icon {
        margin-top: 5px;
        height: 20px;
    }
    .inner-addon {
        margin-left: 1%;
        margin-right: 1%;
    }
    .notification {
        margin: 0 20.5px;
    }
    .navlink {
        outline: 0;
    }
}

@media screen and (max-width: 575px){
    .navlink > .navicon {
        margin: 0 auto;
        padding: 0 0.8em;
    }
    #profile-menu > div:first-child  {
        padding: 0px!important;
    }
}

@media screen and (min-width: 1800px) {
    .menulink {
        font-size: 1.3em;
    }
}
