.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  margin: 0 0 10.9px 0;
  text-transform: capitalize;
}

.form-input__text {
  height: 45px;
  width: 100%;
  border: 1px solid #e9eff4;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0 0 16px 0;
  outline: none;
  font-size: 100%;
  padding: 0 10px;
}
