@import '../../../assets/sass/abstract/variables';

.card-header {
  overflow: hidden;
  white-space: nowrap;
}

.manager_card {
  margin-right: 30px;
  width: 290px;
  margin-top: 30px;
  height: 336px;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 18px;
  font-family: $font-primary-light;
  font-weight: 300;
}

.manager_card > .card-header {
  background-color: inherit;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05) !important;
  border-bottom: none;
  padding-left: 30px;
}

.manager_card__fellows--number {
  color: #303030;
}

.manager_card > ul.list-group {
  max-height: 275px;
  overflow: scroll;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03) !important;
  -webkit-overflow-scrolling: touch;
  padding-left: 24px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.375rem;
  height: 0.375rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3125rem;
  background-color: #dddbdb;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.manager_card .list-group-item {
  color: #303030;
  line-height: 23px;
  border: none !important;
}

.manager_card__name {
  color: #0459e4 !important;
  font-weight: 600;
  font-family: $font-primary;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.manager_card__name:hover {
  max-width: 100%;
  text-align: center;
}

.manager_card__name:hover + .manager_card__fellows--number {
  display: none;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #ffaf30;
  border-radius: 50%;
  display: inline-block;
}

.dots {
  height: 16px;
  width: 16px;
  background-color: #3359db;
  border-radius: 50%;
  display: inline-block;
}

.grey-dot {
  height: 16px;
  width: 16px;
  background-color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
}

.track-key {
  text-align: right;
  white-space: nowrap;
  margin-right: 1.5rem;
}
