@import '../../assets/sass/abstract/variables';

.modal-title {
  &.text-danger {
    color: $color-danger;
  }

  img {
    width: 2rem;
  }
}

.modal-footer {
  &.delete-footer button:last-child {
    background-color: $color-danger !important;
  }
}

.text-danger {
  color: $color-danger !important;
}

.modal-header .modal-close {
  padding: 0;
  margin: -1rem -1rem -1rem auto;
}

.modal-header .modal-close span {
  font-size: 130%;
  margin: auto;
}

.modal-close {
  position: absolute;
  top: 21px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
}

button.modal-close {
  background-color: #bebebe;
  font-size: 25px;
  color: #333e44;
  font-weight: 600;
}
