@import '../../assets/sass/abstract/variables';

#sell-yourself {
  .modal-body__md {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 1.875rem 3.1875rem;
  }

  .form-title {
    font-size: small;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0.5rem;
  }

  .form-header {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .form-control {
    border: 0.0313rem solid #ced4da;
    min-height: 13.75rem;
    max-height: 15.625rem;
    font-size: 13px;
  }

  .apply-btn {
    text-transform: uppercase;
    align-self: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    height: unset;
    padding: 0.6rem 2rem;
  }

  .error-message {
    font-size: 0.8rem;
  }
}

.success_application {
  text-align: center;
  width: 100%;

  .success__image {
    height: 6.875rem;
    width: 5.9375rem;
    color: #7a8691;
    font-family: 'Apple Color Emoji';
    font-size: 7.0625rem;
    letter-spacing: 0.0644rem;
    line-height: 9.25rem;
  }

  .success_title {
    color: #344c5a;
    width: 100%;
    font-family: 'DIN Pro';
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.0431rem;
    line-height: 1.9375rem;
  }

  .success__sutitle {
    height: 1.0625rem;
    width: 100%;
    color: #7a8691;
    font-family: 'DIN Pro';
    font-size: 0.8125rem;
    letter-spacing: 0.0075rem;
    line-height: 1.0625rem;
    margin-top: 2rem;
    -webkit-font-smoothing: antialiased;
  }
}
