.pip-activation-form-bkg {
  height: auto;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 43px;
}

.pip-activation-form-title {
  height: 26px;
  width: 100%;
  color: #0459e4;
  font-family: 'DIN Pro';
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.pip-activation-form-label {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  min-width: 300px;
}

.fellow-details-body {
  height: 76px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.fellow-details-input {
  box-sizing: border-box;
  height: 46px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-right: 0px;
  margin-left: 0em;
}

.areas-of-concern-title {
  height: 26px;
  width: 100%;
  color: #333e44;
  font-family: 'DIN Pro';
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 0.5rem;
}

.area-of-concern-input {
  box-sizing: border-box;
  height: 150px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.mgt-support-body {
  height: auto;
}

.mgt-support-input {
  box-sizing: border-box;
  height: 46px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-top: 2%;
}

.pip-duration-select {
  height: 46px;
  width: 263px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  background-color: #ffffff;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-family: 'DIN Pro';
  font-size: 100%;
}

.btn-add-support {
  box-sizing: border-box;
  height: 46px;
  width: 123px;
  border: 1px solid #0459e4;
  background-color: #ffffff;
  color: #0459e4;
  border-radius: 4px;
  margin-top: 15px;
}

.btn-pip-activation {
  box-sizing: border-box;
  height: 46px;
  z-index: 50;
  width: 130px;
  background-color: rgb(245, 173, 41);
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  right: 4.166666666%;
}

.btn-pip-activation:hover {
  z-index: 50;
  background-color: blue;
}

.pip-activation-form-bkg .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 2em;
  max-width: 100%;
}

.btn-submit-pip-form {
  box-sizing: border-box;
  height: 46px;
  width: 123px;
  background-color: #0459e4;
  border-radius: 4px;
  margin-top: 15px;
}

.textarea.form-control {
  height: 6rem;
}

.calendarClassName {
  background-color: #0459e4;
}

.input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  height: 100%;
}

.react-datepicker-wrapper {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.react-datepicker__input-container input {
  overflow: visible;
  height: 100%;
  width: 100%;
}

.react-datepicker-wrapper .react-datepicker__input-container  {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: 100%;
}

.calender-icon {
  text-align: left;
  position: absolute;
  z-index: 50;
  right: 0;
  height: 100%;
}

.input-group-apend {
  text-align: left;
  position: absolute;
  z-index: 0;
  right: 0;
  height: 100%;
}

.input-group .fellow-details-input .mb-2 .react-datepicker-wrapper {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .btn-pip-container {
    top: 130px;
  }
}
