.wt-dropdown .alert,
.wt-dropdown .alert--disabled,
.wt-dropdown__list__item {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wt-dropdown {
  float: left;
  width: 100%;
}

/*To remove button from IE11 */
.wt-dropdown select::-ms-expand {
  display: none;
}

.wt-dropdown label {
  color: #333e44;
  font-family: 'DIN Pro';
  font-size: 13px;
  letter-spacing: 0.12px;
  line-height: 17px;
}

.wt-dropdown__select {
  position: relative;
}

.wt-dropdown__select__value {
  position: relative;
  float: left;
  width: 100%;
  height: 46px;
}

.wt-dropdown__value {
  position: relative;
  outline: none;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  border: 1px solid #e9eff4;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 0 3.5rem 0 0.5rem;
  color: #808fa3;
  font-family: 'DIN Pro';
  font-size: 13px;
  line-height: 45px;
}

.wt-dropdown__select__button {
  background-image: url('../../static/chevron.png');
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  border-bottom: 1px solid #999;
  height: 45px;
  width: 45px;
  border: 1px solid #e9eff4;
  border-radius: 4px;
  background-color: rgba(244, 247, 249, 0.4);
  position: absolute;
  z-index: 50;
  cursor: pointer;
  outline: none !important;
}

.wt-dropdown__comment {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-indent: 0 !important;
}

.wt-dropdown__comment {
  width: 100%;
  float: left;
  color: #cccccc;
  padding: 0.5rem 0;
  position: relative;
}

.wt-dropdown__label {
  display: none;
}

.wt-dropdown__selections {
  float: left;
  color: #cccccc;
  padding: 1rem 0;
  position: relative;
}

.wt-dropdown__selection {
  color: #3359db;
  font-family: 'DIN Pro';
  font-size: 11px;
  letter-spacing: -0.16px;
  line-height: 27px;
  background: #edf4fd;
  border-radius: 1rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  float: left;
}

.wt-dropdown__selection span {
  color: #3359db;
  font-family: 'DIN Pro';
  font-size: 13px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.wt-dropdown .alert--disabled {
  width: 0;
  overflow: hidden;
  position: absolute;
  clear: both;
}

.wt-dropdown__list {
  position: absolute;
  border: solid 1px rgb(241, 241, 241);
  z-index: 500;
  background-color: #fff;
  width: 100%;
  top: 45px;
  font-size: 15px;
  font-family: 'DIN Pro Light';
}

.wt-dropdown__list__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  max-height: 200px;
  overflow: auto;
}

.wt-dropdown__list__item {
  display: block;
  color: #000;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.wt-dropdown__list__item:hover {
  background-color: #3359db;
  opacity: 0.62;
  color: white;
  cursor: pointer;
}

.wt-dropdown input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border: solid 1px rgb(241, 241, 241);
}

.wt-dropdown input:focus {
  border: solid 1px #3359db;
  outline: none;
}

.wt-dropdown__loader {
  right: 0;
  top: 0;
  height: 45px;
  width: 45px;
  position: absolute;
  z-index: 50;
}

.wt-dropdown__loader .loader {
  margin: 5px;
}
