.links-upload .modal-content {
  height: 580px;
}

form {
  margin-left: 2%;
}

.links-upload .modal-body {
  padding: 2rem;
  overflow: scroll;
}

.links-upload h1 {
  font-size: 130%;
  font-weight: bold !important;
  font-family: 'DIN Pro';
  color: #3359db;
  margin-left: 5%;
  padding-top: 5%;
}

.links-upload .modal-footer {
  padding: 0 1rem;
}

.form-container .url-upload-button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #dae2e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 1%;
  left: 2%;
  float: left;
}

.form-container .url-upload-button img {
  width: 50%;
  height: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* https://www.w3schools.com/Css/tryit.asp?filename=trycss_tooltip */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #dae2e6;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  left: 100%;
  top: 10%;
  position: absolute;
  z-index: 1;
}

.form-container .url-upload-button:hover .tooltiptext {
  visibility: visible;
}

.modal-header {
  padding-bottom: 0.1rem;
}

.modal-footer .done-btn {
  height: 39px;
  width: 90px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #3359db;
  color: #3359db;
  font-size: 13px;
}

.visible-error {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  font-size: 12px;
  color: #ff6584;
}

.links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.microlink_card__media {
  display: none;
}
.microlink_card {
  width: 49.3%;
  margin: 0.2em 0.2em 0.5em 0;
}

.microlink_card:nth-child(even) {
  margin: 0.2em 0 0.5em 0.2em;
}
