@import '../../assets/sass/abstract/variables';
@import '../../assets/sass/abstract/mixins';

.wt-text-input {
  float: left;
  width: 100%;
  input,
  textarea {
    outline: none;
    width: 100%;
    transition: all 0.2s;
    box-sizing: border-box;
    height: 46px;
    border: 1px solid #e9eff4;
    border-radius: 4px;
    background-color: #ffffff;
    color: #808fa3;
  }
  label {
    color: #333e44;
    font-family: $font-primary;
    font-size: 13px;
    letter-spacing: 0.12px;
    line-height: 17px;
  }
  input {
    padding: 0 0.5rem;
    &::placeholder {
      color: #cccccc;
    }
  }
  textarea {
    padding: 0.5rem;
  }
  .alert {
    &,
    &--disabled {
      @include transition-quick;
    }
    &--disabled {
      width: 0;
      overflow: hidden;
      position: absolute;
      clear: both;
    }
  }
  &__comment {
    &--active,
    &--disabled {
      @include transition-quick;
      text-indent: 0;
    }
    &--active {
      width: 100%;
      float: left;
      color: #cccccc;
      padding: 0.5rem 0;
      position: relative;
    }
    &--disabled {
      width: 0;
      overflow: hidden;
      position: absolute;
    }
  }
  &__label {
    display: none;
  }
}
