.tm-project-applications {
  .stats-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div:first-of-type {
      color: #333e44;
      font-family: 'DIN Pro';
      font-size: 24px;
      letter-spacing: -1.1px;
      line-height: 31px;
    }
  }
}
