@import '../../../assets/sass/abstract/variables';
.tm-project-applications {
  width: 100%;
  .stats-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333e44;
    font-family: 'DIN Pro';
    font-size: 24px;
    letter-spacing: -1.1px;
    line-height: 31px;
    width: 100%;
    height: 100%;
  }
  .TM_ProfileCard {
    outline: none !important;
  }
}
.cadre__page.application__page {
  width: 100%;
}

.applicant_profile_card_wrapper {
  background: #ffffff;
  max-width: none;
  border-radius: 0;
  margin-top: 0;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.show-application {
  width: 350px;
  padding: 150px 20px 10px;
  z-index: 1;
  transition: all 1s ease-in;
}

.hide-application {
  width: 0;
  //margin-top: -500px;
  //margin-right: -500px;
  //display: none;
  transition: all 1s ease-out;
}

.applications-wrapper {
  display: flex;
}

.all-applicants-card {
  transition: all 0.3s ease;
}

.add-width {
  width: 65%;
}

.remove-width {
  width: 100%;
}
