@import '../../assets/sass/abstract/variables';

.vacancies-container--no-vacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 22%;

  &__span {
    margin-top: 30px;
    height: 18px;
    color: rgba(52, 76, 90, 0.62);
    font-family: $font-primary;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
}

.vacancies-container--all-vacancies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: auto;

  &__span {
    height: 18px;
    color: rgba(52, 76, 90, 0.62);
    font-family: $font-primary;
    font-size: 14px;
    line-height: 18px;
    margin-top: 7%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  > * {
    margin-top: 5%;
  }
}

.vacancy-card {
  height: 102px;
  width: 100%;
  border-radius: 14px;
  background-color: #edf4fd;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);

  &__inner {
    display: flex;
    flex-direction: row;
    margin: 7% 0 0 5%;
    align-items: flex-start;

    .icon {
      padding-top: 15px;
    }

    ul {
      margin-left: 7px;
      padding-top: 15px;
    }

    &__list {
      li:nth-child(1) {
        height: 18px;
        color: #333e44;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-transform: capitalize;
      }

      li:nth-child(2) {
        height: 18px;
        color: rgba(52, 76, 90, 0.62);
        font-family: $font-primary;
        font-size: 14px;
        line-height: 18px;
        margin-top: 2%;
        text-transform: capitalize;
      }

      li:nth-child(3) {
        height: 17px;
        width: 44px;
        color: #0459e4;
        font-family: $font-primary;
        font-size: 13px;
        line-height: 17px;
        margin-top: 2%;
        text-transform: capitalize;
      }
    }
  }
}

.search-input {
  padding: 0 20px;
  border: 5px solid white;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  color: rgba(30, 64, 82, 0.51);
  background-color: #edf4fd;
  width: 100%;
  max-width: 353px;
  margin-top: 16px;
  line-height: 40px;

  &:focus {
    outline: 0;
  }
}

.render-vacancies__div {
  margin-top: 0px;
}
