.fellow-summary-card {
  position: relative;
  min-height: 341px;
  width: 295px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(35, 47, 73, 0.06);
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 48px;
  outline: none;
}

.fellow-filter-card {
  min-height: 79px;
}

.card-name {
  font-size: 1.125rem;
}

.checkmark {
  position: absolute;
  left: 95%;
  top: -8%;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ffffff;
}

.card-number-display {
  font-size: 1.75em;
}

.fellow-summary-card:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: 1px solid #0459e4;
}

.fellow-filter-card {
  min-height: 79px;
}

.fellow-summary-page-header {
  font-family: 'DIN Pro', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 26px;
  font-weight: 400;
  margin-top: 57px;
  margin-bottom: 48px;
}

.fellow-summary-page-header .header-underline {
  border-bottom: 2px solid #3359db;
}
.active-card {
  border: 1px solid #0459e4;
  outline: none;
}

.fellow-summary-card-header {
  min-height: 95px;
  margin-left: 0;
  margin-right: 0;
}

.fellow-summary-card-header .avatar {
  height: 58px;
  width: 58px;
  margin-top: 22px;
}

.fellow-summary-card-header .fellow-name {
  color: #323c47;
  font-family: 'DIN Pro';
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 26px;
}

.fellow-summary-card-header .product {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.875rem;
  line-height: 18px;
}

.line-2 {
  box-sizing: border-box;
  border: 1px solid #f4f8f9;
  margin-top: 0;
  margin-bottom: 0;
}

.fellow-summary-card-body {
  margin-top: 20px;
  margin-right: 0px;
}
.fellow-summary-card-body p {
  margin-right: 0;
}

.fellow-summary-card-body .level-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .level-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 30px;
}

.fellow-summary-card-body .started-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .started-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 39px;
}

.left {
  margin-left: 30px;
}

.right {
  margin-right: 27px;
}

.fellow-card-avatar-wrapper {
  margin-left: 29px;
  padding-left: 0;
  padding-right: 0;
}
.name-product-wrapper {
  margin-left: 10px;
  margin-top: 28.37px;
  margin-right: 5px;
}

.fellow-summary-card-body .pulse-avg-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .pulse-avg-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 26px;
}

.fellow-summary-card-body .status-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .status-description {
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 30px;
}

.color-off-track {
  color: #ffaf30;
}

.color-on-pip {
  color: #d0021b;
}

.color-on-track {
  color: #0459e4;
}

.offset-margin-bottom {
  margin-bottom: 0;
}
.fellow-summary-card-body .ending-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .ending-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 39px;
}

.fellow-summary-card-body .lms-outputs-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .lms-outputs-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 26px;
}

.fellow-summary-card-body .dev-pulse-average-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 17px;
}

.fellow-summary-card-body .dev-pulse-average-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 26px;
}
