.fellow-summary-card {
  position: relative;
  min-height: 21.3125rem;
  width: 18.4375rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(35, 47, 73, 0.06);
  margin-right: 1.25rem;
  margin-left: 0.9375rem;
  margin-bottom: 3rem;
  outline: none;
}

.fellow-filter-card {
  min-height: 4.9375rem;
  margin-bottom: 1.25rem;
}

.card-name {
  font-size: 1.125rem;
}

.checkmark {
  position: absolute;
  left: 95%;
  top: -15%;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ffffff;
}

.card-number-display {
  font-size: 1.75em;
}

.fellow-summary-card:focus,
.fellow-card-highlight,
.fellow-summary-card:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: 0.0625rem solid #0459e4;
}

.slider > .slick-list {
  margin-left: -0.9%;
  padding: 1%;
  margin-top: -2%;
  margin-bottom: -2%;
}

.manager-slider > .slick-list {
  margin-left: 2%;
  margin-bottom: -3.3%;
}
.manager-slick > .slick-list {
  margin-left: 3%;
  padding: 0.1%;
  margin-top: -2%;
}

.left-card {
  margin-left: 2.56rem;
}

.slick-slider .manager-picture {
  display: inline-block;
}

.fellow-summary-page-header {
  font-family: 'DIN Pro', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.fellow-summary-page-header .header-underline {
  border-bottom: 0.125rem solid #3359db;
}
.active-card {
  border: 0.0625rem solid #0459e4;
  outline: none;
}

.fellow-summary-card-header {
  min-height: 5.9375rem;
  margin-left: 0;
  margin-right: 0;
}

.manager-picture {
  height: 3.625rem;
  width: 3.625rem;
}

.manager-card__top {
  margin-top: 3.5rem;
  margin-bottom: 10%;
}

.manager-filter-card {
  min-height: 6.7rem;
}
.fellow-summary-card-header .avatar {
  height: 3.625rem;
  width: 3.625rem;
  margin-top: 1.375rem;
}

.fellow-summary-card-header .fellow-name {
  color: #323c47;
  font-family: 'DIN Pro';
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.625rem;
}

.fellow-summary-card-header .product {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.line-2 {
  box-sizing: border-box;
  border: 0.0625rem solid #f4f8f9;
  margin-top: 0;
  margin-bottom: 0;
}

.fellow-summary-card-body {
  margin-top: 1.25rem;
  margin-right: 0;
}
.fellow-summary-card-body p {
  margin-right: 0;
}

.fellow-summary-card-body .level-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .level-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.375rem;
  margin-bottom: 1.875rem;
}

.fellow-summary-card-body .started-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .started-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.375rem;
  margin-bottom: 2.4375rem;
}

.left {
  margin-left: 1.56rem;
}

.right {
  margin-right: 1.6875rem;
}

.fellow-card-avatar-wrapper {
  margin-left: 1.8125rem;
  padding-left: 0;
  padding-right: 0;
}
.name-product-wrapper {
  margin-left: 0.625rem;
  margin-top: 1.773125rem;
  margin-right: 0.3125rem;
}

.fellow-summary-card-body .pulse-avg-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .pulse-avg-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .status-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .status-description {
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.375rem;
  margin-bottom: 1.875rem;
}

.color-off-track {
  color: #ffaf30;
}

.color-on-pip {
  color: #d0021b;
}

.color-on-track {
  color: #0459e4;
}

.offset-margin-bottom {
  margin-bottom: 0;
}
.fellow-summary-card-body .ending-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .ending-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.375rem;
  margin-bottom: 2.4375rem;
}

.fellow-summary-card-body .lms-outputs-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .lms-outputs-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.625rem;
}

.fellow-summary-card-body .dev-pulse-average-header {
  color: rgba(51, 62, 68, 0.75);
  font-family: 'DIN Pro';
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.fellow-summary-card-body .dev-pulse-average-description {
  color: #232f49;
  font-family: 'DIN Pro';
  font-size: 1.0625rem;
  font-weight: 900;
  line-height: 1.625rem;
}

@media (max-width: 765px) {
  .feedbackDashboard .col-xl-9 {
    max-width: 100% !important;
  }
  .slider > .slick-list {
    margin-left: -15%;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .slider > .slick-list {
    width: 100% !important;
  }
  .manager-slick > .slick-list {
    margin-left: 1%;
  }
  .manager-slider > .slick-list {
    margin-left: 0;
  }
}
