@import '../../assets/sass/abstract/variables';

.ttl-lf-card {
  height: 6.75rem;
  width: 18.13rem;
  border-radius: 4px;
  border: #232f49;
  margin-bottom: 3rem;
  background-color: #ffffff;
  margin-right: 2.19rem;
  display: inline-flex;
}

.ttl-lf-card__check-mark {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: -2%;
  margin-top: -2%;
  background-color: #ffffff;
}

.ttl-lf-card__check-mark-main {
  position: absolute;
  margin-top: 0;
  margin-right: -2%;
  margin-bottom: 6.41rem;
  margin-left: 17.56rem;
}

.ttl-lf-card:active {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: 1px solid #0459e4;
}

.ttl-lf-card:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.ttl-lf-card__title {
  height: 1.44rem;
  color: #232f49;
  font-family: $font-primary;
  margin-top: 1.5rem;
  padding-right: 5.38rem;
  padding-left: 1.31rem;
  font-size: 1.13rem;
  line-height: 1.44rem;
  position: absolute;
}

.ttl-lf-card__avatar {
  height: 3.63rem;
  width: 3.63rem;
  margin-top: 1.1rem;
  margin-left: 1.33rem;
  margin-right: 13.74rem;
  position: absolute;
  float: left;
}

.ttl-lf-card__name {
  height: 1.44rem;
  width: 11.44rem;
  color: #232f49;
  font-family: $font-primary;
  font-size: 1.13rem;
  margin-top: 1.5rem;
  margin-left: 5.9rem;
  line-height: 1.44rem;
  float: left;
}

.ttl-lf-card__number {
  height: 2.25rem;
  color: #232f49;
  font-family: $font-primary;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: right;
  margin-top: 3.56rem;
  padding-left: 14.94rem;
  padding-right: 2.13rem;
  position: absolute;
}

.ttl-lf-cards-wrapper {
  margin-top: 1.44rem;
}
