@import '../../assets/sass/abstract/variables';

.ttl_fellow_summary {
  padding-top: 60px;
}

.ttl_fellow_summary__title {
  color: #0459e4;
  font-family: $font-primary;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.ttl_fellow_summary__cards {
  display: flex;
}

.card {
  margin-left: 1px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.empty_chart {
  display: flex;
  height: 190px;
  width: auto;
  border-radius: 0 0 6px 6px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding: 80px 40px 60px 40px;
  margin-top: 20px;
}
